.footer {
  background-color: $black;
  color: white;

  .logo {
    width: 120px;
  }

  h4 {
    color: $mid-purple;
  }
  a {
    color: $light-purple;

    &:hover {
      color: $mid-purple;
    }
  }
  .menu-item {
    list-style: none;
    margin-bottom: 10px;

    a {
      color: white;

        &:hover {
            color: $mid-purple;
        }
    }
  }
  .newsletter {
    background-color: $mid-black;

    h3 {
      color: $mid-purple;
    }

    form.fluent_form_2 .wpf_has_custom_css.ff-btn-submit {
      background-color: $mid-purple;
      border-color: $mid-purple;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 0;
      border: 2px solid $light-purple;
      min-width: 100%;
    }

    .fluentform .ff-el-form-control {
      background-clip: padding-box;
        background-color: $black;
      background-image: none;
      border: 2px solid white;
      border-radius: 0;
      color: white;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 0;
      max-width: 100%;
      padding: 6px 12px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      width: 100%;
    }
  }
}
.copyright {
  background-color: $mid-black;
  color: white;
  padding: 20px 0;
  text-align: center;

  a {
    color: $mid-purple;

    &:hover {
      color: $light-purple;
    }
  }

}