.four-tiles {
  position: relative;
  .tile-p {
    background-color: $mid-purple;
    height: auto;
    min-height: 420px;

    @include media-breakpoint-down(lg) {
      min-height: auto;
    }

    i {
      color: $light-purple;
      font-size: 180px;
      opacity: 0.2;
      position: absolute;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
      width: 80%;
    }
  }
  img {
    height: 420px;
    min-height: 420px;
    width: 100%;
    object-fit: cover;

    @include media-breakpoint-down(lg) {
      height: auto;
      min-height: auto;
      width: 100%;
    }
  }
}