.top-bar {
  background: $black;
  color: white;

  @include media-breakpoint-down(lg) {
    display: none;
  }

    p {
      color: white;
    }

    a {
      color: white;
      &:hover {
        color: $light-purple;
      }
    }
  .top-cta {
    background-color: $purple;
    border: 2px solid $light-purple;
    a {
      color: white;
      font-weight: 700;
    }

    &:hover {
      background: $light-purple;
      border: 2px solid $purple;
      a {
        color: $purple;
      }
    }
  }

}
.main-nav {
  background: linear-gradient(
                  to right,
                  $purple 0%,
                  $purple 30%,
                  white 30%,
                  white 100%
  );

  @include media-breakpoint-down(lg) {
    background: $purple;

    .nav-link {
      color: white !important;
      font-weight: 400;
      text-align: center;
    }
  }

  .logo {
    width: 150px;
  }
    .navbar-nav {
        .nav-item {
          .nav-link {
            color: $black;
            font-weight: 400;
            &:hover {
            color: $light-purple;
            }
          }
        }
      .active {
        .nav-link {
          color: $light-purple;
          font-weight: 700;
        }
      }
    }

  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: $purple;
    background-color: $light-purple;
    border: var(--bs-border-width) solid $light-purple;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
}