.product-title {
  background-color: $purple;

    h1 {
        color: $light-purple;
    }

  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white;
  }

  a {
    color: $white;
    text-decoration: none;
    padding-right: 20px;

    &:hover {
      color: $light-purple;
    }
  }

  .breadcrumb-item.active {
    color: $mid-purple;
  }
}

.product-cta {

  background-color: $light-purple;

  form.fluent_form_3 .ff-btn-submit {
    background-color: $purple;
    color: #ffffff;
  }
}