.team {
  background-color: white;

  .lead {
    color: $mid-purple;
    margin-bottom: 0;
  }

  h2 {
    color: $black;
  }

.team-info {
  background-color: $light-purple;

  h5 {
    color: white;
  }
  p {
    color: white;
  }

  .member-block {

    img {
      height: 150px !important;
      width: 150px !important;
      object-fit: cover !important;
    }
  }
}

}